<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DBADashGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DBADashGUI.Properties.Settings>
            <setting name="PerformanceSummaryPerformanceCounters" serializeAs="String">
                <value />
            </setting>
            <setting name="PerformanceSummaryCols" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingsUpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunningQueriesSummaryMaxRows" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="PerformanceSummaryMigrated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DiffToolBinaryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DiffToolArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopNotificationsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DateTimeFormatString" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeFormatString" serializeAs="String">
                <value />
            </setting>
            <setting name="TestSummaryMaxHeightPct" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="ChildFormSingleInstance" serializeAs="String">
                <value>True</value>
            </setting>
        </DBADashGUI.Properties.Settings>
    </userSettings>
</configuration>