<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient" version="2.0.1" targetFramework="net472" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.18.0" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Logging" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.7.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.DacFx.x64" version="150.4826.1" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.20216.14" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="161.41011.9" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Quartz" version="2.6.2" targetFramework="net472" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net472" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.7.1" targetFramework="net472" />
</packages>