<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.5.2.5" targetFramework="net471" />
  <package id="AWSSDK.S3" version="3.5.7.12" targetFramework="net471" />
  <package id="Microsoft.Data.SqlClient" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Data.SqlClient.SNI" version="2.1.1" targetFramework="net471" />
  <package id="Microsoft.Identity.Client" version="4.25.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.8.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="6.8.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocols" version="6.8.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Protocols.OpenIdConnect" version="6.8.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.8.0" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Assessment" version="1.0.302" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Assessment.Authoring" version="1.0.282" targetFramework="net471" />
  <package id="Microsoft.SqlServer.DacFx.x64" version="150.4897.1" targetFramework="net471" />
  <package id="Microsoft.SqlServer.Management.SqlParser" version="160.20216.14" targetFramework="net471" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="161.46041.41" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Data.Common" version="4.3.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.8.0" targetFramework="net471" />
</packages>